.city {
    background-color: gold;
    color: white;
    border: 2px solid black;
    margin: 20px;
    padding: 20px;
}

#para1 {
    text-align: center;
    color: red;
}

h6 {
    color: blue
}
a { color: #FF0000; } /* CSS link color (red) */
a:hover { color: #00FF00; } /* CSS link hover (green) */